<link rel="stylesheet" href="../assets/css/job.css" />
<% const {id, position, company, jobLocation, status, jobType, created_at} = job
  const convertDate = (created_at) => {
    const date = new Date(created_at);
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
      "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    const month = monthNames[date.getMonth()];
    const day = date.getDate();
    const year = date.getFullYear();
    const dayWithSuffix = day + (day % 10 === 1 && day !== 11 ? 'st' :
      day % 10 === 2 && day !== 12 ? 'nd' :
      day % 10 === 3 && day !== 13 ? 'rd' : 'th');
    const formattedDate = `${month} ${dayWithSuffix}, ${year}`;
    return formattedDate;
  }
  const date = convertDate(created_at)
%>
<article class="job-item">
  <header>
    <div class="main-icon"><%= company.charAt(0) %></div>
    <div class="info">
      <h5><%= position %></h5>
      <p><%= jobLocation %></p>
    </div>
  </header>
  <div class="content">
    <div class="content-center">
      <%- include('./job-info.ejs', {text: jobLocation, icon: '<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"></path></svg>'}) %>
      <%- include('./job-info.ejs', {text: date, icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path></svg>`}) %>
      <%- include('./job-info.ejs', {text: jobType, icon: '<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path></svg>'}) %>
      <div class="status <%= status %>"><%= status %></div>
    </div>
    <footer>
      <div class="actions">
        <a href="/edit-job/<%= id %>" class="btn edit-btn">
          edit
        </a>
        <button id="delete-btn-id-<%= id %>" type="button" class="btn delete-btn">
          delete
        </button>
      </div>
    </footer>
  </div>
</article>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const deleteBtn = document.getElementById("delete-btn-id-<%= id %>");
    deleteBtn?.addEventListener('click', function() {
      fetch('/delete-job/<%= id %>', {
        method: 'DELETE',
        credentials: 'same-origin'
      }).then(async resp => {
        if (resp.ok) {
          window.location.reload()
        }
      })
    });
  })
</script>