<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJs & ExpressJs MVC</title>
  <link rel="stylesheet" href="../assets/css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
  <div id="root">
    <link rel="stylesheet" href="../assets/css/shared-layout.css" />
    <section class="home-layout">
      <main class="dashboard">
        <aside id="big-sidebar">
          <%- include('../partials/big-sidebar.ejs') %>
        </aside>
        <aside id="small-sidebar">
          <%- include('../partials/small-sidebar.ejs') %>
        </aside>
        <div>
          <%- include('../partials/navbar.ejs', {user}) %>
          <div class="dashboard-page">
            <% if(child) { %>
            <%- include(child) %>
            <% } %>
          </div>
        </div>
      </main>
    </section>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const bigSidebar = document.getElementById('big-sidebar');
        const smallSidebar = document.getElementById('small-sidebar');

        function updateSidebar() {
          if (window.innerWidth <= 992) {
            if (!document.getElementById('small-sidebar-css')) {
              const link = document.createElement('link');
              link.rel = 'stylesheet';
              link.href = '../assets/css/small-sidebar.css';
              link.id = 'small-sidebar-css';
              document.head.appendChild(link);
            }
            const bigSidebarCss = document.getElementById('big-sidebar-css');
            if (bigSidebarCss) {
              document.head.removeChild(bigSidebarCss);
            }
            smallSidebar.style.display = 'block';
            bigSidebar.style.display = 'none';
          } else {
            if (!document.getElementById('big-sidebar-css')) {
              const link = document.createElement('link');
              link.rel = 'stylesheet';
              link.href = '../assets/css/big-sidebar.css';
              link.id = 'big-sidebar-css';
              document.head.appendChild(link);
            }
            const smallSidebarCss = document.getElementById('small-sidebar-css');
            if (smallSidebarCss) {
              document.head.removeChild(smallSidebarCss);
            }
            smallSidebar.style.display = 'none';
            bigSidebar.style.display = 'block';
          }
        }
        updateSidebar();
        window.addEventListener('resize', updateSidebar);

        const links = [{
          id: 1,
          text: 'Add Job',
          path: '/',
          icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M448 75.2v361.7c0 24.3-19 43.2-43.2 43.2H43.2C19.3 480 0 461.4 0 436.8V75.2C0 51.1 18.8 32 43.2 32h361.7c24 0 43.1 18.8 43.1 43.2zm-37.3 361.6V75.2c0-3-2.6-5.8-5.8-5.8h-9.3L285.3 144 224 94.1 162.8 144 52.5 69.3h-9.3c-3.2 0-5.8 2.8-5.8 5.8v361.7c0 3 2.6 5.8 5.8 5.8h361.7c3.2.1 5.8-2.7 5.8-5.8zM150.2 186v37H76.7v-37h73.5zm0 74.4v37.3H76.7v-37.3h73.5zm11.1-147.3l54-43.7H96.8l64.5 43.7zm210 72.9v37h-196v-37h196zm0 74.4v37.3h-196v-37.3h196zm-84.6-147.3l64.5-43.7H232.8l53.9 43.7zM371.3 335v37.3h-99.4V335h99.4z"></path></svg>`
        }, {
          id: 2,
          text: 'All Jobs',
          path: '/all-jobs',
          icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19.88 18.47c.44-.7.7-1.51.7-2.39 0-2.49-2.01-4.5-4.5-4.5s-4.5 2.01-4.5 4.5 2.01 4.5 4.49 4.5c.88 0 1.7-.26 2.39-.7L21.58 23 23 21.58l-3.12-3.11zm-3.8.11a2.5 2.5 0 010-5 2.5 2.5 0 010 5zm-.36-8.5c-.74.02-1.45.18-2.1.45l-.55-.83-3.8 6.18-3.01-3.52-3.63 5.81L1 17l5-8 3 3.5L13 6l2.72 4.08zm2.59.5c-.64-.28-1.33-.45-2.05-.49L21.38 2 23 3.18l-4.69 7.4z"></path></svg>`
        }, {
          id: 3,
          text: 'Stats',
          path: '/stats',
          icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M496 496H16V16h32v448h448v32z"></path><path d="M192 432H80V208h112zm144 0H224V160h112zm143.64 0h-112V96h112z"></path></svg>`
        }, {
          id: 4,
          text: 'Profile',
          path: '/profile',
          icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 0h-12c-0.825 0-1.5 0.675-1.5 1.5v13c0 0.825 0.675 1.5 1.5 1.5h12c0.825 0 1.5-0.675 1.5-1.5v-13c0-0.825-0.675-1.5-1.5-1.5zM13 14h-11v-12h11v12zM4 9h7v1h-7zM4 11h7v1h-7zM5 4.5c0-0.828 0.672-1.5 1.5-1.5s1.5 0.672 1.5 1.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5zM7.5 6h-2c-0.825 0-1.5 0.45-1.5 1v1h5v-1c0-0.55-0.675-1-1.5-1z"></path></svg>`
        }]
        const adminLinks = [{
          id: 5,
          text: 'Admin',
          path: '/admin',
          icon: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M17 11c.34 0 .67.04 1 .09V6.27L10.5 3 3 6.27v4.91c0 4.54 3.2 8.79 7.5 9.82.55-.13 1.08-.32 1.6-.55-.69-.98-1.1-2.17-1.1-3.45 0-3.31 2.69-6 6-6z"></path><path d="M17 13c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 1.38c.62 0 1.12.51 1.12 1.12s-.51 1.12-1.12 1.12-1.12-.51-1.12-1.12.5-1.12 1.12-1.12zm0 5.37c-.93 0-1.74-.46-2.24-1.17.05-.72 1.51-1.08 2.24-1.08s2.19.36 2.24 1.08c-.5.71-1.31 1.17-2.24 1.17z"></path></svg>`
        }]
        const _role = JSON.stringify(`<%- user?.role %>`);
        const containerBig = bigSidebar.querySelector('.nav-links');
        const containerSmall = smallSidebar.querySelector('.nav-links');

        function createNavLink(item) {
          const span = document.createElement('span');
          span.innerHTML = item.icon;
          span.classList.add('icon');
          const textNode = document.createTextNode(item.text);
          const link = document.createElement('a');
          link.classList.add('nav-link');
          link.href = item.path;
          link.appendChild(span);
          link.appendChild(textNode);
          return link;
        }
        links.forEach(item => {
          const link1 = createNavLink(item);
          const link2 = createNavLink(item);
          containerBig.appendChild(link1);
          containerSmall.appendChild(link2);
        })
        if (_role.includes('ADMIN')) {
          adminLinks.forEach(item => {
            const link1 = createNavLink(item);
            const link2 = createNavLink(item);
            containerBig.appendChild(link1);
            containerSmall.appendChild(link2);
          });
        }
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll('a');
        navLinks.forEach(link => {
          const linkPath = new URL(link.href).pathname;
          if (linkPath === currentPath) {
            link.classList.add('active');
          } else {
            link.classList.remove('active');
          }
        });
      });
    </script>
    <% 
      const _toast = typeof toast !== 'undefined' ? toast : undefined
    %>
    <% if(_toast) { %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        toastr.options = {
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": true,
          "showDuration": "100",
          "hideDuration": "1000",
          "timeOut": "3000",
          "extendedTimeOut": "000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        <% _toast.messages?.forEach(function(message, index) { %>
        setTimeout(function() {
          toastr['<%- _toast.type %>']('<%- message %>');
        }, <%= index * 100 %>);
        <% }); %>
      });
    </script>
    <% } %>
  </div>
</body>

</html>